<!DOCTYPE html>
<html>
<head>
    <title>用户注册</title>
</head>
<body>

{% load future %}

{{ error }}

<form method="post">
    {% csrf_token %}
    <p><input name="email" placeholder="邮箱" value="{{ email }}" /></p>
    <p><input name="username" placeholder="用户名" value="{{ username }}" /></p>
    <p><input name="password" type="password" placeholder="密码" value="{{ password }}" /></p>
    <p><input name="next" type="hidden" value="{{ next }}" /></p>
    <p><input type="submit" value="注册" /></p>
    <p><a href="{% url 'users.views.login' %}?next={{ next }}">登陆</a></p>

</form>

</body>
</html>